* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: brown;
}

h1 {
    text-align: center;
    font-size: 40px;

}

img {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border: 10px;
}

.heading {
    text-align: center;
    margin-top: 50px;
}

div {
    margin: 20px;
}

ol li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 90px;
}